<!DOCTYPE html>
<html lang="en">

<head>
	<title>Stars application</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" type = "text/css"/>
    <link rel="stylesheet" href="/static/assets/css/common.css" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

	<!-- FAVICON -->
	{% block favicon %}
	{% endblock %}
</head>

<body class="body page-background">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2 header-background">
			  </div>
			  <div class="col-sm-8 header-background">
				  <!-- <br>
				  <center>
					<img src="{% static '/img/profile.jpg' %}" class="rotated" style='max-height:100px;' alt="face">
				  <!-- </center> -->
				  <br>
				  <center>
				  <h3 class="star-header">Star/planet ETA Calculator</h3>
				  </center>
				  <br>
			  </div>
			  <div class="col-sm-2 header-background">
			  </div>
		</div><hr>

		<div class="row" style="height: 100%;">
		  <div class="col-sm-2" style="height: 700px; background-color: grey;">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="text-align: center;">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li>^^^Nav pills not working.. b/c SASS isn't installed?</p>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-8">
			<div class='container-fluid page-description col-sm-8'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		  <div class="col-sm-2 test-text">
			  <p>HI</p>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px;'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>

</body>

</html>
